@model Kurzusok.Models.Subjects

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Subjects</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Id" class="control-label"></label>
                <input asp-for="Id" class="form-control" />
                <span asp-validation-for="Id" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="EHours" class="control-label"></label>
                <input asp-for="EHours" class="form-control" />
                <span asp-validation-for="EHours" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="GyHours" class="control-label"></label>
                <input asp-for="GyHours" class="form-control" />
                <span asp-validation-for="GyHours" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SubjectCode" class="control-label"></label>
                <input asp-for="SubjectCode" class="form-control" />
                <span asp-validation-for="SubjectCode" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SemesterId" class="control-label"></label>
                <input asp-for="SemesterId" class="form-control" />
                <span asp-validation-for="SemesterId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
