@using Kurzusok.ViewModels
@model List<RolesViewModel>
@{;
    ViewBag.Tilte = "Felhasználói szintek";
}
<h1>Felhasználói szintek</h1>
@if (Model.Any())
{
    @foreach (var item in Model)
    {
        <div class="card">
            <div class="card-header">
                <h5 class="card-title">@item.roleName</h5>
            </div>
            <div class="card-body">
                @foreach (var userName in item.Users)
                {
                    <p>@userName</p>
                }
            </div>
            <div class="card-footer">
                <a asp-controller="Administration" asp-action="EditUserRole" asp-route-roleId="@item.roleId" class="btn btn-primary">Felhasználók kezelése</a>
            </div>
        </div>
    }

}
else
{
    <p>Nincsenek felhasználói szintek!</p>
}

<p>
    <a asp-area="Identity"  asp-page="/Account/Register" >Új felhasználó hozzáadása ehhez a szarhoz. </a>
</p>