@model Kurzusok.Models.InputModel
@{
    Layout = "/Views/Administration/_AdminLayout.cshtml";
    ViewData["Title"] = "Regisztrálás";
    ViewData["Active"] = "Register";
}
<div class="w-50">
    <form asp-controller="Administration" asp-action="RegisterPost" class="form-signin" method="post">
        <h4>Új fiók létrehozása.</h4>
        <hr />
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <span class="text-success">@ViewBag.Success</span>
        <div class="form-group">
            <label asp-for="UserName">Felhasználó név</label>
            <input asp-for="UserName" class="form-control" />
            <span asp-validation-for="UserName" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="Email">Email cím</label>
            <input asp-for="Email" class="form-control" />
            <span asp-validation-for="Email" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="Password">Jelszó</label>
            <input asp-for="Password" class="form-control" />
            <span asp-validation-for="Password" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="ConfirmPassword">Jelszó megerősítése</label>
            <input asp-for="ConfirmPassword" class="form-control" />
            <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
        </div>
        <button type="submit" class="btn btn-lg btn-primary btn-block">Regisztrálás</button>
    </form>

</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}