<div class="modal fade addcommentmodal" id="applyComment" tabindex="-1" role="dialog" aria-labelledby="applyComment" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <form asp-action="AddCommentPost" onsubmit="return ajaxpostBasic(this);">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="applyCommentLabel">Megjegyzés hozzáadása</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <input type="text" placeholder="Írjon megjegyzést a kurzushoz" autofocus name="comment" class="w-100" required />
                    <input type="hidden" id="courseId" name="courseId" value="@Model" />
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Bezárás</button>
                    <button type="submit" class="btn btn-danger" id="addcomment">Mentés</button>
                </div>
            </div>
        </form>
    </div>
</div>