@model Subjects
@{
    IList<Programmes> programmes = ViewBag.programmes;
}

<div class="modal fade" id="addSubject">
    <div class="modal-dialog">
        <form asp-action="CreateSubjectPost">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title" id="addSubjectLabel">Tárgy hozzáadása</h4>
                    <button type="button" class="close" data-dismiss="modal"><span>X</span></button>
                </div>
                <div class="modal-body">

                    <div class="form-group">
                        <input type="hidden" asp-for="SemesterId" class="form-control" value="@Model.SemesterId" />
                    </div>
                    <div class="form-group">
                        <label asp-for="SubjectCode">Tantárgy kód</label>
                        <input asp-for="SubjectCode" class="form-control" />
                        <span asp-validation-for="SubjectCode" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Name">Megnevezés</label>
                        <input asp-for="Name" class="form-control" />
                        <span asp-validation-for="Name" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="EHours" class="control-label">Elméleti órák száma</label>
                        <input asp-for="EHours" class="form-control" />
                        <span asp-validation-for="EHours" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="GyHours" class="control-label">Gyakorlati órák száma</label>
                        <input asp-for="GyHours" class="form-control" />
                        <span asp-validation-for="GyHours" class="text-danger"></span>
                    </div>


                    @foreach (var item in programmes)
                    {
                <div class="form-check">
                    @{string prName = item.Name + " " + item.Training + " " + item.Levels;
                    }
                    <input name="AreChecked" type="checkbox" value="@item.ProgrammeId" class="form-check-input" />
                    <label class="form-check-label"> @prName</label>
                    <select class="custom-select" name="education_type" >
                        @if (item.Training == "levelezős")
                        {
                            <option value="traditional">Hagyományos</option>
                            <option value="sync">Szinkron</option>
                        }
                        else
                        {
                            <option value="traditional">Hagyományos</option>
                            <option value="async">Asszinkron</option>
                        }



                    </select>
                </div>
                    }
                    



                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Bezárás</button>
                    <div class="form-group">
                        <input type="submit" value="Mentés" class="btn btn-primary" />
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>
