@model Subjects
@{
    IList<Programmes> programmes = ViewBag.programmes;
}

<div class="modal subjectmodal" id="addSubject">
    <div class="modal-dialog">
        <form asp-action="CreateSubjectPost" onsubmit="return ajaxpostBasic(this);">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title" id="addSubjectLabel">Tárgy hozzáadása</h4>
                    <button type="button" class="close" data-dismiss="modal"><span>X</span></button>
                </div>
                <div class="modal-body">

                    <div class="form-group">
                        <input type="hidden" asp-for="SemesterId" class="form-control" value="@Model.SemesterId" />
                    </div>
                    <div class="form-group">
                        <label asp-for="SubjectCode">Tantárgy kód</label>
                        <input asp-for="SubjectCode" class="form-control" />
                        <span asp-validation-for="SubjectCode" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Name">Megnevezés</label>
                        <input asp-for="Name" class="form-control" />
                        <span asp-validation-for="Name" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="EHours" class="control-label">Elméleti órák száma</label>
                        <input asp-for="EHours" class="form-control" />
                        <span asp-validation-for="EHours" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="GyHours" class="control-label">Gyakorlati órák száma</label>
                        <input asp-for="GyHours" class="form-control" />
                        <span asp-validation-for="GyHours" class="text-danger"></span>
                    </div>
                    <div class="teacherSelect">
                        <div class="row form-group copyThisDiv">
                            <div class="col-5 p-1">
                                <label>Képzés</label>
                                <select class="custom-select" name="Programmes">
                                    @foreach (var item in programmes)
                                    {
                                        string prName = item.Name + " " + item.Training;
                                        <option value="@item.ProgrammeId">@prName</option>
                                    }
                                </select>
                            </div>
                            <div class="col-4 p-1">
                                <label>Képzési forma</label>
                                <select class="custom-select" name="educationType">
                                    <option value="traditional">Hagyományos</option>
                                    <option value="sync">Szinkron</option>
                                    <option value="async">Asszinkron</option>
                                </select>
                            </div>
                            <div class="col-3 p-1">
                                <label>Tárgy típus</label>
                                <select class="custom-select" name="Obligatory">
                                    <option value="1">Kötelező</option>
                                    <option value="0">Választható</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="teacherMoreSelect" id="toCopy"></div>
                    <button type="button" class="btn btn-secondary" onclick="copyDivContent();">Hozzárendelés másik képzéshez</button>

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Bezárás</button>
                    <div class="form-group">
                        <input type="submit" value="Mentés és tovább" class="btn btn-primary" />
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>
