@model Teachers
<div class="modal addteachermodal" id="addTeacher">
    <div class="modal-dialog">
        <form asp-action="AddTeacherPost" onsubmit="return ajaxpostBasic(this);">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title" id="addTeacherLabel">Oktató felvétele</h4>
                    <button type="button" class="close" data-dismiss="modal"><span>X</span></button>
                </div>
                <div class="modal-body">
                    <div id="errorAlert" class="collapse">
                        <span class="text-danger" id="errormessage"></span>
                    </div>
                    <div class="form-group">
                        <input type="hidden" asp-for="TeacherId" />
                    </div>
                    <div class="form-group">
                        <label asp-for="Name">Név</label>
                        <input asp-for="Name" class="form-control" required />
                        <span asp-validation-for="Name" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Position" class="control-label">Munkakör</label>
                        <select class="custom-select" asp-for="Position">
                            <option value="Egyetemi, főiskolai tanár">Egyetemi, főiskolai tanár</option>
                            <option value="Egyetemi, főiskolai docens">Egyetemi, főiskolai docens</option>
                            <option value="Adjunktus, tanársegéd, mesteroktató">Adjunktus, tanársegéd, mesteroktató</option>
                            <option value="Tanszéki mérnök">Tanszéki mérnök</option>
                            <option value="Tanári munkakörök">Tanári munkakörök</option>
                        </select>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Bezárás</button>
                    <div class="form-group">
                        <input type="submit" value="Mentés" id="save" class="btn btn-primary" />
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>
@{ await Html.RenderPartialAsync("_ValidationScriptsPartial");}