@page "/AccessDenied"
@model AccessDeniedModel
@{
    ViewData["Title"] = "Access denied";
}

<header>
    <h1 class="text-danger">@ViewData["Title"]</h1>
    <p class="text-danger">Nincs hozzáférésed ehhez a tartalomhoz.</p>
</header>
