@page "/ForgotPassword/Confirmation"
@model ForgotPasswordConfirmation
@{
    ViewData["Title"] = "Elfelejtett jelszó megerősítése";
    Layout = "/Views/Shared/_SignInLayout.cshtml";
}
<div class="border border-secondary shadow rounded align-self-center py-5 px-4 bg-white">
    <h1>@ViewData["Title"]</h1>
    <p>
        Kérjük erősítse meg a jelszó változtatást az email címre küldött linkre kattintva! Ha nem találja az üzenetet, nézze meg a <strong>spam</strong> mappát!
    </p>
</div>

