@page "/ForgotPassword"
@model ForgotPasswordModel
@{
    ViewData["Title"] = "Elfelejtett jelszó?";
    Layout = "/Views/Shared/_SignInLayout.cshtml";
}
<div class="border border-secondary shadow rounded align-self-center py-5 px-4 bg-white">
    <h1 class="pb-5">@ViewData["Title"]</h1>
    <h4>Adja meg az email címét!</h4>
    <hr />
    <form class="pt-1" method="post">
        <div asp-validation-summary="All" class="text-danger"></div>
        <div class="form-group">
            <label asp-for="Input.Email">Email</label>
            <input asp-for="Input.Email" class="form-control" />
            <span asp-validation-for="Input.Email" class="text-danger"></span>
        </div>
        <button type="submit" class="btn btn-primary">Küldés</button>
    </form>
</div>
    @section Scripts {
        <partial name="_ValidationScriptsPartial" />
    }
