@page "/ResetPassword"
@model ResetPasswordModel
@{
    ViewData["Title"] = "Jelszó változtatás";
}

<div class="border border-secondary shadow rounded align-self-center py-5 px-4 bg-white">
    <h1>@ViewData["Title"]</h1>
    <h4>Változtassa meg a jelszavát.</h4>
    <hr />
    <form method="post">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <input asp-for="Input.Code" type="hidden" />
        <div class="form-group">
            <label asp-for="Input.Email"></label>
            <input asp-for="Input.Email" class="form-control" />
            <span asp-validation-for="Input.Email" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="Input.Password"></label>
            <input asp-for="Input.Password" class="form-control" />
            <span asp-validation-for="Input.Password" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="Input.ConfirmPassword"></label>
            <input asp-for="Input.ConfirmPassword" class="form-control" />
            <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
        </div>
        <button type="submit" class="btn btn-primary">Jelszó megváltoztatása</button>
    </form>
</div>
    @section Scripts {
        <partial name="_ValidationScriptsPartial" />
    }
