@page "/ResetPassword/Confirmation"
@model ResetPasswordConfirmationModel
@{
    ViewData["Title"] = "Jelszó visszaállítás megerősítése";
}

<div class="border border-secondary shadow rounded align-self-center py-5 px-4 bg-white">
    <h1>@ViewData["Title"]</h1>
    <p>
        Jelszó sikeresen megváltoztatva. <a asp-page="./Login">Kattintson ide a bejelentkezéshez</a>.
    </p>
</div>

