@model ProgrammeDetails
@using Microsoft.AspNetCore.Http;
@{
    string training = Context.Session.GetString("Training");
}

<div class="modal editsubjectsyllabusmodal" id="editSubject">
    <div class="modal-dialog">
        <form asp-action="EditSubjectPost" onsubmit="return ajaxpostBasic(this);">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title" id="editSubjectLabel">Tárgy szerkesztése</h4>
                    <button type="button" class="close" data-dismiss="modal"><span>X</span></button>
                </div>
                <div class="modal-body">
                    <div id="errorAlert" class="collapse">
                        <span class="text-danger" id="errormessage"></span>
                    </div>
                    <div class="form-group">
                        <input type="hidden" asp-for="Id" class="form-control" value="@Model.Id" />
                        <input type="hidden" asp-for="ProgrammeId" class="form-control" value="@Model.ProgrammeId" />
                    </div>
                    <div class="form-group">
                        <label asp-for="SubjectCode">Tantárgy kód</label>
                        <input asp-for="SubjectCode" class="form-control" required />
                        <span asp-validation-for="SubjectCode" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Name">Megnevezés</label>
                        <input asp-for="Name" class="form-control" required />
                        <span asp-validation-for="Name" class="text-danger"></span>
                    </div>
                    @if (training == "Nappali")
                    {
                        <div class="form-group">
                            <label asp-for="EHours" class="control-label">Elméleti órák száma</label>
                            <input asp-for="EHours" class="form-control" min="0" />
                            <span asp-validation-for="EHours" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="GyHours" class="control-label">Gyakorlati órák száma</label>
                            <input asp-for="GyHours" class="form-control" min="0" />
                            <span asp-validation-for="GyHours" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="LabHours" class="control-label">Labor órák száma</label>
                            <input asp-for="LabHours" class="form-control" min="0" />
                            <span asp-validation-for="LabHours" class="text-danger"></span>
                        </div>
                    }
                    else
                    {
                        <div class="form-group">
                            <label asp-for="CorrespondHours" class="control-label">Órák száma</label>
                            <input asp-for="CorrespondHours" class="form-control" min="0" />
                            <span asp-validation-for="CorrespondHours" class="text-danger"></span>
                        </div>
                    }
                    <div class="form-group">
                        <label asp-for="Credit" class="control-label">Kreditérték</label>
                        <input asp-for="Credit" class="form-control" min="0" />
                        <span asp-validation-for="Credit" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="RecommendedSemester" class="control-label">Ajánlott félév</label>
                        <input asp-for="RecommendedSemester" class="form-control" min="0" />
                        <span asp-validation-for="RecommendedSemester" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Obligatory">Kötelező tantárgy?</label>
                        <input asp-for="Obligatory" class="form-control" />
                        <span asp-validation-for="Obligatory" class="text-danger"></span>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Bezárás</button>
                        <div class="form-group">
                            <input type="submit" value="Mentés" class="btn btn-primary" />
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>
@{ await Html.RenderPartialAsync("_ValidationScriptsPartial");}